body {
  background-color: #f2f2f2;
}

h2 {
  margin: 10px 0;
}

.filter-button {
  background-color: #c3eca6 !important;
}

.active {
  background-color: #5dcc00 !important;
}

.filter-wrapper {
  padding: 20px;
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
  margin: 36px auto;
}

.card {
  height: 100%;
  max-height: 480px;
  .header {
    color: #6a5c9e;
    font-weight: 600;
  }
  span {
    color: #000;
  }
  p {
    color: #6a5c9e;
  }
  label {
    color: black;
    font-weight: 600;
  }
}

.grid {
  padding: 12px;
}

.filter {
  .no-margin {
    margin: 0px;
  }
  .heading {
    border-bottom: 1px solid #d2cece;
  }
}